@charset "UTF-8";

.pagination {
  display: inline-block;
}
.pagination:first-child {
  border-left: 1px solid #ddd;
}
.pagination strong {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}


.no_padding{
	padding: 0 !important;
	/*padding-top: 2px !important;
	padding-bottom: 2px !important;*/
}
	.no_padding label{
		cursor: pointer;
		display:inline-block;
		position: relative;
		width: 100%;
		height: 100%;
		/*border: 1px solid green;*/
	}
	.no_padding input[type="checkbox"] {
		margin: 0 !important;
		padding: 0 !important;
		position: absolute;
		left: 8px;
		top: -webkit-calc(50% - 3px) ;
		top: calc(50% - 3px) ;
		width: 12px;
		height: 12px;
		/*margin-top: -30px;*/
		/*margin: -20px;*/
		/*margin-left: 10px;*/
	}

#small_table {
    border: 1px solid #ddd;
    font-size:small;
}
#small_table td{
  padding: 3px;
}

/* tooltip */
a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  font-size: 11px;
  width:170px;
  color: #FFFFFF;
  background: #0E1933;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #0E1933;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
  left: 50%;
  margin-left: -60px;
  z-index: 999;
}
/* tooltip */
