<!-- footer.html -->
<div class="footer">
<div class="footer-inner">
<div class="container">
<div class="row">
<div class="span12">
EX_CRUD &copy; 2016 <a href="http://flatsystems.net/econosys_system/" target="_blank">econosys system</a>
</div><!-- /span12 -->
</div><!-- /row -->
</div><!-- /container -->
</div><!-- /footer-inner -->
</div><!-- /footer -->
<!-- footer.html -->
