<!-- header.html -->
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container"> <a class="brand" href="{$_program_name}">URLリンク管理</a>
<div class="nav-collapse">

{*
<ul class="nav pull-right">
<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> Config <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="{literal}javascript:if(confirm('jsonファイルを再生成します。よろしいですか？')){location.href='http://successplus.jp/instagram_post/excrud_admin/json_recreate/?back_url='+encodeURIComponent(location.href);}{/literal}">Json Re-Create</a></li>
</ul>
</li>
</ul>
*}

<form action="{$_program_uri}" class="navbar-search pull-right">
<input type="hidden" name="cmd" value="search">
<input type="text" name="q" id="q" value="{$q|escape}" class="search-query" >
</form>
</div>
<!--/.nav-collapse -->
</div>
<!-- /container -->
</div>
<!-- /navbar-inner -->
</div>
<!-- /navbar -->
<div class="subnavbar">
<div class="subnavbar-inner">
<div class="container">
<ul class="mainnav">
<li><a href="{$_program_uri}"><i class="fa fa-th-list"></i><span>データ一覧</span> </a> </li>
<li><a href="{$_progran_uri}?cmd=admin_tmpl_edit&back_url={$back_url|escape:'url'}"><i class="fa fa-code"></i><span>HTMLテンプレート編集</span> </a> </li>
<li><a href="{$_progran_uri}?cmd=convert"><i class="fa fa-database"></i><span>旧ツールデータ読み込み</span> </a> </li>
<li></li>
</ul>
</div>
<!-- /container -->
</div>
<!-- /subnavbar-inner -->
</div>
<!-- /subnavbar -->
<!-- header.html -->
